<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tc.shiro.mapper.CmdContentMapper">
    <resultMap id="BaseResultMap" type="org.tc.shiro.po.CmdContent">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID" jdbcType="INTEGER" property="id"/>
        <result column="CONTENT" jdbcType="VARCHAR" property="content"/>
        <result column="CMDID" jdbcType="INTEGER" property="cmdid"/>
    </resultMap>

    <delete id="deleteByCmdId" parameterType="integer">
        delete from cmd_content WHERE cmdid = #{cmdId}
    </delete>

    <delete id="delByCmdIdList" parameterType="list">
        delete from cmd_content WHERE cmdid in(
        <foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>
        )
    </delete>

    <select id="selectByCmdId" parameterType="integer" resultType="string">
        SELECT content from cmd_content WHERE cmdid = #{cmdId}
    </select>

</mapper>