<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tc.shiro.mapper.SeckillMapper">
    <resultMap id="BaseResultMap" type="org.tc.shiro.po.Seckill">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="stockid" jdbcType="BIGINT" property="stockid"/>
        <id column="userid" jdbcType="INTEGER" property="userid"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
    </resultMap>

    <select id="selectById" resultType="org.tc.shiro.po.Seckill">

        <!--根据seckillId查询SuccessKilled对象，并携带Seckill对象-->
        <!--如何告诉mybatis把结果映射到SuccessKill属性同时映射到Seckill属性-->
        <!--可以自由控制SQL语句-->
        SELECT
        sk.stockid, sk.userid, sk.createtime, sk.state,
        s.id "stock.id",
        s.name "stock.name",
        s.number "stock.number",
        s.begintime "stock.begintime",
        s.endtime "stock.endtime",
        s.createtime "stock.createtime"
        FROM seckill_result sk
        INNER JOIN stock s ON sk.stockid=s.id
        WHERE sk.stockid=#{stockid} AND sk.userid=#{userid}
    </select>
</mapper>