<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tc.shiro.mapper.SysResourceMapper">
    <resultMap id="BaseResultMap" type="org.tc.shiro.po.SysResource">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="TINYINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="permission" jdbcType="VARCHAR" property="permission"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="enable" jdbcType="BIT" property="enable"/>
        <result column="top_id" jdbcType="TINYINT" property="topId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="edit_time" jdbcType="TIMESTAMP" property="editTime"/>
        <result column="sort_code" jdbcType="REAL" property="sortCode"/>
    </resultMap>

    <!--真删-->
    <delete id="deleteByIdList" parameterType="list">
        DELETE FROM sys_resource where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 批量假删 -->
    <update id="diableByIdList" parameterType="list">
        UPDATE sys_resource SET enable = 0 where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <!-- 根据用户 id 查询这个用户拥有的所有资源（这里的资源就代表权限） -->
    <select id="selectByUid" parameterType="int" resultType="org.tc.shiro.po.SysResource">
        SELECT t3.id,t3.name,t3.permission,t3.url
        FROM sys_user_role t0
        LEFT JOIN sys_role t1 ON t0.role_id = t1.id
        LEFT JOIN sys_role_resource t2 ON t1.id = t2.role_id
        LEFT JOIN sys_resource t3 ON t3.id = t2.resource_id
        WHERE t0.user_id = #{uid}
        order by t3.id,t3.sort_code
    </select>

    <!-- 根据用户 id 查询这个用户拥有的所有资源（这里的资源就代表权限） -->
    <select id="selectByRid" parameterType="int" resultType="org.tc.shiro.po.SysResource">
        SELECT t3.id,t3.name,t3.permission,t3.url
        FROM sys_role_resource t2
        LEFT JOIN sys_resource t3 ON t3.id = t2.resource_id and t3.enable=1
        WHERE t2.role_id = #{rid}
        order by t3.id,t3.sort_code
    </select>


</mapper>