<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tc.shiro.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="org.tc.shiro.po.SysUser">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="TINYINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="dept_id" jdbcType="TINYINT" property="deptId"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="enable" jdbcType="BIT" property="enable"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="edit_time" jdbcType="TIMESTAMP" property="editTime"/>
    </resultMap>

    <select id="selectByRid" parameterType="byte" resultType="org.tc.shiro.po.SysUser">
        SELECT t3.id, t3.username, t3.password, t3.nickname, t3.enable
        FROM sys_user_role t2
        LEFT JOIN  sys_user t3  ON t3.id = t2.user_id
        WHERE t2.role_id =#{rid}
    </select>

    <!-- 批量删除 -->
    <delete id="deleteByIdList" parameterType="list">
        DELETE FROM sys_user where id in
        <foreach close=")" collection="ids" item="id" open="(" separator=",">
            #{id}
        </foreach>
    </delete>

    <!-- 批量禁用 -->
    <update id="disableByIdList" parameterType="list">
        UPDATE sys_user SET enable = 0 where id in
        <foreach close=")" collection="ids" item="id" open="(" separator=",">
            #{id}
        </foreach>
    </update>

</mapper>